<h2 id="about-header">About Me</h2>
<%= image_tag("coty_and_marty.jpg", id: "coty_and_marty-img") %>

<div id="about-me-text">
<p>Hello World!!!</p>
<p> My name is Coty Richardson. Let me tell you a little more about myself. I am a correctional officer for the Illinois Department of Corrections by day, and a musician, gamer, and husband by night. I have been a self taught hobbyist musician since the age of 10. I play guitar, drums, and piano. My favorite hobby however is gaming. I play mostly competitive games such as "Rainbow Six: Siege, Overwatch, CS:GO, etc" and really enjoy streaming my content on "Twitch.tv". Video editing and content creation is a very passionate hobby of mine especially when associated with video games. Currently I am a student at Main Street Codes where I am learning back end web development, which I plan to pursue in the future. I am a very laid back guy, love the simple things in life, and love meeting new people. Feel free to navigate to my contact page and reach out. Welcome to my website!!! </p>
</div>