<h1 id="coty-header">Coty Richardson</h1>
  <nav>
   <ul id="my-navbar"> 
      <li><%= link_to("About Me",  "/about") %></li>
      <li><%= link_to("Portfolio", "/portfolio") %></li>
      <li><%= link_to("Contact Me", "/contact") %></li>
    </ul>
  </nav>